body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

header {
    background: #0078d4;
    padding: 25px;
    color: white;
    text-align: center;
}

section {
    padding: 20px;
    margin: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 15px auto;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #aaa;
    padding: 10px;
    text-align: center;
}

th {
    background: #0078d4;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    background: #0078d4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
